/* 

CSS Document is Organized as Follows:

1. Header
2. Paragraph
3. 

*/



.grid {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    
}


/* Header */

h1 {
    background-color: yellow;
    padding: 20px;
    text-align: center;
    border-color: maroon;
    border-width: 10px;
    border-style: solid;
}







/* Paragraph */

p {
    font-weight: 700;
    text-align: center;
}





body {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}




.fa {
    padding: 20px;
    font-size: 30 px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity:.07;
}
