/* 

CSS Document is Organized as Follows:

1. Header
2. Paragraph
3. 

*/






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(145, 178, 199)
}

.grid {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 100px, 300px;
    grid-gap: 10px;

}


/*
.others {
    grid-column-start: 3;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.statistics {
    grid-column-start: 1;
    grid-column-end: 2;
    border: black;
    border-width: 40px;
    background-color: brown;
}

.photos {
    display: subgrid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    height: 35%;
}



.globe {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.wde {
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 3;
    height: 20%;
}



.sidebar, tr {
   grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 2;
   grid-row-end: 3;
   width: 40%;
   height: 10px;
   line-height: 50px;
}


.content {
    grid-area: content;
}


.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    border: black;
}

*/






.gallery-item {
    width: 100%;
    height: 100%;
    position:relative;
}


.gallery-item .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item .image .img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 10%;
    cursor: pointer;
    transition: .5s ease-in-out;
}

gallery-item:hover .image .img{
    traansform:scale(1.5);
}
















/* Header */

h1 {
    background-color: yellow;
    padding: 10px;
    text-align: center;
    border-color: maroon;
    border-width: 10px;
    border-style: solid;
}





/* Paragraph */

p {
    font-weight: 700;
    text-align: center;
}




body {
    margin: 20px;
    padding: 0;
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    
}

