/* 

CSS Document is Organized as Follows:

1. Header
2. Paragraph
3. 

*/



/* Header */

h1 {
    background-color: aqua;
    padding: 20px;
    text-align: center;
    border-color: maroon;
    border-width: 10px;
    border-style: dashed;
}







/* Paragraph */

p {
    font-weight: 700;
    text-align: center;
}









.center {
    
    width: 50%;
    height: 10%;
        
    
}


#images{
    display: flex ;
    background-position: 50% 10px;
}

body {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    background-color: antiquewhite;
}




.fa {
    padding: 20px;
    font-size: 30 px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity:.07;
}
