/* 

CSS Document is Organized as Follows:

1. Universal 
2. Head
3. Body

*/



/* Body */


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 500;
    line-height: 1.6;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows:  15% 30% 45% 10%;
    grid-template-areas: 
        "sidebar     header      header        header"
        "sidebar     section1    section2      section3"
        "sidebar     main        main          main"
        "sidebar     footer      footer        footer";
}

aside {
    grid-area: sidebar;
    background-color: orange;
}

header {
    grid-area: header;
    background-color: brown;
}

section:nth-of-type(1){
    grid-area: section1;
    background-color: black;
}


section:nth-of-type(2){
    grid-area: section2;
    background-color: blue;
}


section:nth-of-type(3){
    grid-area: section3;
    background-color: orange;
}

main {
    grid-area: main;
    background-color: blueviolet;
}

footer {
    grid-area: footer;
    background-color: green;
}