
/* 

created & designed by Evan Brown (July 30, 2022) 
updated by Evan Brown on (August 9, 2022)

*/
body {
    scrollbar-width: thin;
}

body {
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

#banner{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    overflow: hidden;
    text-overflow: hidden;
    vertical-align: middle;
    line-height: 3em;
    background-color: aqua;
    height: 15vh;
}

/* should i be using display grid */

.wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
    border: solid #B73239;
    background: #8FBC8F;
}

.upperMiddleBox{
    padding: 5px;
    background-color: #B73239;
    position: relative; top: 10%;
}

/* lower left box final grade calculator */
.lowerLeftBox{
    padding: 5px;
    background-color: #B73239;
    position: relative; right: 25%; top: 20%;
}

/* lower right box, semester-quarter unit & grade conversions */
.lowerRightBox{
    padding: 5px;
    background-color: #B73239;
    position: relative; left: 25%; bottom: 80%;
}

.table{
    row-gap: 20px;
}

th {
    width: 100px;
    height: 50px;
    margin: 50px;
    border: solid #B73239;
    background: #8c918c;
}

td {
    width: 100px;
    margin: 50px;
    border: solid black;
}

.session {
    width: 100px;
    background: white;
    border: solid black;
    height: 30px;
}


.points {
    width: 100px;
    background: beige;
    border: solid black;
    height: 30px;
}


select {
    width: 200px;
    font-weight: bolder;
    font-style: italic;
    align-content: center;
}

.button {
    width: 420px;
    height: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    border: solid blanchedalmond;
}

.last{
    display: flex;
    flex-direction: row;
}

.result{
    width: 200px;
    height: 100px;
    background-color: green;
    padding: 10px;
    border: solid black;
    font-style: oblique;
}