
/* 

created & designed by Evan Brown (July 30, 2022) 

*/

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.wrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
    border: solid #B73239;
    background: #8FBC8F;
}

.table{
    row-gap: 20px;
}

th {
    width: 100px;
    height: 50px;
    margin: 50px;
    border: solid #B73239;
    background: #5e635e;
}

td {
    width: 100px;
    margin: 50px;
    border: solid black;
}