/* 

CSS Document is Organized as Follows:

1. Universal 
2. Head
3. Body





/* Body */



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    font-weight: 500;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows:    25% 50% 25%;
    grid-template-areas: 
        "section1    header    section2"
        "sidebar   main  main"
        "footer    footer  footer";
}

aside {
    grid-area: sidebar;
    background-color: #8AAAE5;
}

.sidebar {
    border-style: solid;
    border-width: 20px;
    border-color: green;
}

#sidebar2 {
    border-style: solid;
    border-width: 2em;
    border-color: black;
}

header {
    grid-area: header;
    background-color: #BC4A3C;
    border: solid;
    border: white;
}


section:nth-of-type(1){
    grid-area: section1;
    background-color: blue;
    border-color: black;
    border-width: 20%;
    border: solid;
}


section:nth-of-type(2){
    grid-area: section2;
    background-color: orange;
}


main {
    grid-area: main;
    background-color: blueviolet;
}

footer {
    grid-area: footer;
    background-color: green;
}
