/* 

Created & Designed by Evan Brown (July, 2022)

/* Body */



body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    font-weight: 500;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows:    20% 55% 25%;
    grid-template-areas: 
        "section1    header    section2"
        "sidebar     main      main"
        "section3      footer    section4";
}


/* sidebar styles */


aside {
    grid-area: sidebar;
    background-color: #8AAAE5;
    border-style: solid;
    border-color: #BC4A3C;
    column-width: ;
}

.sidebar {
    border-style: solid;
    border-color: black;
}

#Tools {
    border-style: solid;
    border-color: black;
    width: 35%;
}

#GPA {
    border-left: solid;
    border-right: solid;
    border-color: black;
}

#Pomodoro {
    border-style: solid;
    border-color: black;
}


#Schedule {
    border-style: solid;
    border-color: black;

}

#Resources{
    border-style: solid;
    border-color: black;

}
/* header styles */

header {
    grid-area: header;
    background: url(../img/uclaphoto2.jpg) ;
    background-size: 150px;
    border-style: solid;
    border: black;
    text-align: center;
    line-height: 150px;
    
}


section:nth-of-type(1){
    grid-area: section1;
    background-color: blue;
    border-color: black;
    border-width: 20%;
    border: solid;
}


section:nth-of-type(2){
    grid-area: section2;
    background-color: orange;
    border-style: solid;
    border-color: black;
}

section:nth-of-type(3){
    grid-area: section3;
    background-color: yellow;
    border-style: solid;
    border-color: black;
}

section:nth-of-type(4){
    grid-area: section4;
    background-color: green;
    border-style: solid;
    border-color: black;
}



/* main styles */

main {
    grid-area: main;
    background-color: blueviolet;
}

/* footer styles */

footer {
    grid-area: footer;
    background-color: green;
}
